/*facebook.html*/
div#wall {
	margin:20px auto;
	width:600px;
	border:1px solid #ccc;
	padding:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
}
div#wrap {
	padding:5px;
	border:1px solid #ccc;
	margin-bottom:8px;
}
div#wrap textarea {
	border:0;
	width:100%;
	outline:none;
	font-family: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	font-size:12px;
}
div#share_button{
	text-align:right;
	margin-bottom:15px;
}
#share {
	color:white;
	font-size:13px;
	background-color: #4a67a9;
	font-weight:bold;
	border:0 none;
	cursor:pointer;
	font-family: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	padding:1px 3px 2px 4px;
	outline:medium none;
}
div.comments {
	font-family: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	margin-bottom:20px;
	border-bottom:1px solid #ccc;
	padding:10px;
	font-size:11px;
	position:relative;
}
div.comments a.hidePost {
	text-decoration:none;
	color:#999;
	font-weight:bold;
	font-size:12px;
	font-family: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	position:absolute;
	top:10px;
	right:10px;
}
#itp-title {
	font-family: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	color:white;
	background-color: #4a67a9;
	font-weight:bold;
	padding:5px;
	font-size:19px;
}